<a href="https://colab.research.google.com/github/tarun1208/BasicML/blob/main/soil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("/content/Odisha_Crop_Dataset_SoilBased.csv")

In [3]:
df.head()

,District,Season,Crop,Area(ha),Annual_Rainfall(mm),Temperature(C),Soil_Fertility,Pesticide,Fertilizer,Production(Tonnes),Yield(Tonnes/ha)
0,Mayurbhanj,Summer,Maize,6.69,1742.06,22.05,Low,Carbaryl,Urea,16.32,2.44
1,Ganjam,Summer,Rice,3.30,1597.47,32.90,Low,Tricyclazole,DAP,7.19,2.18
2,Balasore,Rabi,Maize,4.04,1173.99,29.71,Medium,Atrazine,SSP,14.02,3.47
3,Cuttack,Kharif,Wheat,3.94,952.66,31.82,High,Chlorpyrifos,NPK,11.70,2.97
4,Mayurbhanj,Summer,Pulses,8.89,1495.82,27.07,Low,Imidacloprid,DAP,18.67,2.10

In [5]:
df.isnull().sum()

District               0
Season                 0
Crop                   0
Area(ha)               0
Annual_Rainfall(mm)    0
Temperature(C)         0
Soil_Fertility         0
Pesticide              0
Fertilizer             0
Production(Tonnes)     0
Yield(Tonnes/ha)       0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.describe()

,Area(ha),Annual_Rainfall(mm),Temperature(C),Production(Tonnes),Yield(Tonnes/ha)
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,5.800900,1350.877800,27.118800,13.937000,2.428800
std,2.569891,362.850452,4.438377,6.837299,0.678308
min,0.840000,802.690000,20.030000,1.660000,1.230000
25%,3.685000,1036.532500,23.130000,8.675000,1.940000
50%,6.155000,1321.895000,27.335000,13.930000,2.335000
75%,7.805000,1629.492500,31.260000,18.950000,2.795000
max,9.990000,1993.650000,34.690000,34.930000,4.170000

In [8]:
df.drop_duplicates(inplace=True)

In [12]:
print(df.columns.tolist())

['District', 'Season', 'Crop', 'Area(ha)', 'Annual_Rainfall(mm)', 'Temperature(C)', 'Soil_Fertility', 'Pesticide', 'Fertilizer', 'Production(Tonnes)', 'Yield(Tonnes/ha)']

In [23]:
def find_outliers_iqr(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower) | (df[col] > upper)]
    return outliers, lower, upper

for col in num_cols:
    outliers, lower, upper = find_outliers_iqr(df, col)
    print(f"{col}: {len(outliers)} outliers found. Range allowed = [{lower}, {upper}]")

area_ha: 0 outliers found. Range allowed = [-2.6100000000000008, 14.270000000000001]
annual_rainfall_mm: 0 outliers found. Range allowed = [83.6500000000002, 2574.7699999999995]
temperature_c: 0 outliers found. Range allowed = [11.36, 43.2]
production_tonnes: 1 outliers found. Range allowed = [-7.885, 34.795]
yield_tonnes_ha: 0 outliers found. Range allowed = [0.6949999999999998, 4.015000000000001]

In [24]:
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower) & (df[col] <= upper)]

In [25]:
import numpy as np

for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df[col] = np.where(df[col] < lower, lower,
                       np.where(df[col] > upper, upper, df[col]))

In [26]:
print(df[num_cols].describe())

         area_ha  annual_rainfall_mm  temperature_c  production_tonnes  \
count  95.000000           95.000000      95.000000          95.000000
mean    5.857684         1343.222316      27.128526          13.714421
std     2.526362          366.093634       4.379151           6.484303
min     0.840000          802.690000      20.030000           1.660000
25%     3.830000         1004.880000      23.225000           8.490000
50%     6.240000         1279.050000      27.370000          13.890000
75%     7.850000         1633.195000      31.145000          18.730000
max     9.990000         1993.650000      34.690000          26.530000

       yield_tonnes_ha
count        95.000000
mean          2.348526
std           0.592781
min           1.230000
25%           1.915000
50%           2.270000
75%           2.725000
max           3.770000

In [27]:
def find_outliers_iqr(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower) | (df[col] > upper)]
    return outliers, lower, upper

for col in num_cols:
    outliers, lower, upper = find_outliers_iqr(df, col)
    print(f"{col}: {len(outliers)} outliers found. Range allowed = [{lower}, {upper}]")

area_ha: 0 outliers found. Range allowed = [-2.1999999999999993, 13.879999999999999]
annual_rainfall_mm: 0 outliers found. Range allowed = [62.40750000000037, 2575.6674999999996]
temperature_c: 0 outliers found. Range allowed = [11.344999999999999, 43.025000000000006]
production_tonnes: 0 outliers found. Range allowed = [-6.8700000000000045, 34.09]
yield_tonnes_ha: 0 outliers found. Range allowed = [0.7, 3.9400000000000004]